<h1>Posts</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Post</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Title</th>
            <th style="width: 60%">Content</th>
            <th style="width: 10%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{post.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deletepost(post.id)" class="btn btn-sm btn-danger btn-delete-post" [disabled]="post.isDeleting">
                    <span *ngIf="post.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!post.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!posts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>